
@using COMP1640_WebDev.ViewModels
@model MagazineViewModel

@{
	Layout = "./Layout/_MMLayout";
}


<div class="px-4 mt-4 min-vh-100">
	<h1>Create Magazine</h1>

	<form asp-action="CreateMagazine" method="post" enctype="multipart/form-data">
		@Html.AntiForgeryToken()
		<div class="form-group mb-2">
			<label asp-for="@Model.FormFile">Choose files to upload:</label>
			<input asp-for="@Model.FormFile" type="file" class="form-control" />
		</div>

		<div class="form-group mb-2">
			<label asp-for="@Model.Title" class="control-label">Title</label>
			<input asp-for="@Model.Title" class="form-control" />
			<span asp-validation-for="@Model.Title" class="text-danger"></span>
		</div>

 		<div class="form-group mb-2">
			<label asp-for="@Model.Description" class="control-label">Description</label>
			<textarea asp-for="@Model.Description" class="form-control"> </textarea>
			<span asp-validation-for="@Model.Description" class="text-danger"></span>
		</div>

		<div class="form-group mb-2">
			<label>Faculty</label>
			<select asp-for="@Model.FacultyId"
					asp-items="@(new SelectList(Model.Falulties, "Id", "FacultyName"))"
					class="form-control">
			</select>
			<span asp-validation-for="@Model.FacultyId" class="text-danger"></span>

		</div>

		<div class="form-group mb-2">
			<label>Semester</label>
			<select asp-for="@Model.AcademicYearId"
					asp-items="@(new SelectList(Model.AcademicYears, "Id", "StartDate"))"
					class="form-control">
			</select>
			<span asp-validation-for="@Model.AcademicYearId" class="text-danger"></span>
		</div>



		<div class="form-group">
			<input type="submit" value="Create" class="btn btn-primary" />
		</div>
	</form>
</div>



