@model Magazine
@{
    Layout = "./Layout/_MMLayout";
}
<style>
    .rounded-3d {
        border-radius: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }

        .rounded-3d:hover {
            transform: scale3d(1.1, 1.1, 1.1); 
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
        }

        .rounded-3d:hover {
            transition: all 0.3s ease;
        }

    .magazine-image {
        height:450px;
        width: 300px;
    }
</style>

<div class="min-vh-100 px-4 mt-4 mb-4">
    <div class="row">
        <div class="col-sm-6 col-lg-6 col-xl-6">
            <img src="@ViewBag.Image" class="img-fluid rounded-3d magazine-image" alt="Image">
        </div>
        <div class="col-sm-6 col-lg-6 col-xl-6">
            <h1 class="display-4">@Model.Title</h1>
            <p class="lead">Description: @Model.Description</p>
            <ul class="list-unstyled">
                <li><strong>Faculty:</strong> @Model.Faculty!.FacultyName</li>
                <li><strong>Start Date:</strong> @Model.AcademicYear!.StartDate</li>
                <li><strong>Closure Date:</strong> @Model.AcademicYear!.ClosureDate</li>
                <li><strong>Final Date:</strong> @Model.AcademicYear!.FinalDate</li>
            </ul>
        </div>
    </div>
</div>
